body { body {
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;

  background: url("/Anis-mostach-/image_1393.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;

  /* الخلفية */
  background: url("/Anis-mostach-/image_1393.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
