body {
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;

  /* الخلفية */
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.container {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 20px;
}
